n8n/workflows/detector_mgo.json
{
  "name": "detector_mgo",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "sched-5min",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 320]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.SUPABASE_URL + '/rest/v1/leads'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "visitor_id,mgo_directo,mgo_en_canal,of_activo,active_flow,telegram_user_id,utm_source" },
            { "name": "mgo_directo", "value": "is.true" },
            { "name": "of_activo", "value": "is.false" },
            { "name": "active_flow", "value": "is.null" },
            { "name": "updated_at", "value": "={{'gt.' + new Date(Date.now() - 5 * 60 * 1000).toISOString()}}" }
          ]
        },
        "options": { "response": { "response": { "responseFormat": "json" } } }
      },
      "id": "fetch-flow1",
      "name": "Fetch Flow 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 120],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst arr = Array.isArray(input) ? input\n  : Array.isArray(input?.body) ? input.body\n  : input && typeof input === 'object' ? [input]\n  : [];\nreturn arr.map(item => ({ json: item }));"
      },
      "id": "split-flow1",
      "name": "Array to Items Flow 1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 120]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.SUPABASE_URL + '/rest/v1/leads?visitor_id=eq.' + encodeURIComponent($json.visitor_id)}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { active_flow: '1', last_bot_action: new Date().toISOString() } }}"
      },
      "id": "update-flow1",
      "name": "Update Lead Flow 1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 120],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.SUPABASE_URL + '/rest/v1/leads'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "visitor_id,mgo_directo,mgo_en_canal,of_activo,active_flow,telegram_user_id,utm_source" },
            { "name": "mgo_directo", "value": "is.false" },
            { "name": "mgo_en_canal", "value": "is.true" },
            { "name": "of_activo", "value": "is.false" },
            { "name": "active_flow", "value": "is.null" },
            { "name": "updated_at", "value": "={{'gt.' + new Date(Date.now() - 5 * 60 * 1000).toISOString()}}" }
          ]
        },
        "options": { "response": { "response": { "responseFormat": "json" } } }
      },
      "id": "fetch-flow2",
      "name": "Fetch Flow 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 320],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst arr = Array.isArray(input) ? input\n  : Array.isArray(input?.body) ? input.body\n  : input && typeof input === 'object' ? [input]\n  : [];\nreturn arr.map(item => ({ json: item }));"
      },
      "id": "split-flow2",
      "name": "Array to Items Flow 2",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 320]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{'https://api.telegram.org/bot' + $env.TELEGRAM_BOT_TOKEN + '/sendMessage'}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { chat_id: $json.telegram_user_id, text: 'Flujo 2 MGO: ¿buscas algo? visitor_id=' + $json.visitor_id } }}"
      },
      "id": "send-flow2",
      "name": "Send Telegram Flow 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 280],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.SUPABASE_URL + '/rest/v1/leads?visitor_id=eq.' + encodeURIComponent($item(0).$node['Array to Items Flow 2'].json.visitor_id)}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { active_flow: '2', last_bot_action: new Date().toISOString() } }}"
      },
      "id": "update-flow2",
      "name": "Update Lead Flow 2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1140, 320],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.SUPABASE_URL + '/rest/v1/leads'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "visitor_id,of_activo,active_flow,utm_source,pais,ciudad" },
            { "name": "of_activo", "value": "is.true" },
            { "name": "or", "value": "(active_flow.is.null,active_flow.neq.4)" },
            { "name": "updated_at", "value": "={{'gt.' + new Date(Date.now() - 5 * 60 * 1000).toISOString()}}" }
          ]
        },
        "options": { "response": { "response": { "responseFormat": "json" } } }
      },
      "id": "fetch-flow4",
      "name": "Fetch VIP Flow 4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 560],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst arr = Array.isArray(input) ? input\n  : Array.isArray(input?.body) ? input.body\n  : input && typeof input === 'object' ? [input]\n  : [];\nreturn arr.map(item => ({ json: item }));"
      },
      "id": "split-flow4",
      "name": "Array to Items Flow 4",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 560]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.SUPABASE_URL + '/rest/v1/leads?visitor_id=eq.' + encodeURIComponent($json.visitor_id)}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { active_flow: '4', last_bot_action: null } }}"
      },
      "id": "update-flow4",
      "name": "Update Lead Flow 4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [910, 560],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.ALERTA_CONFLICTO_WEBHOOK}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { type: 'vip_flow_4', visitor_id: $json.visitor_id, utm_source: $json.utm_source, pais: $json.pais, ciudad: $json.ciudad, message: 'Lead VIP con OF=true. Bots desactivados.', detected_at: new Date().toISOString() } }}"
      },
      "id": "alert-flow4",
      "name": "Alert VIP Flow 4",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1140, 560],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [[
        { "node": "Fetch Flow 1", "type": "main", "index": 0 },
        { "node": "Fetch Flow 2", "type": "main", "index": 0 },
        { "node": "Fetch VIP Flow 4", "type": "main", "index": 0 }
      ]]
    },
    "Fetch Flow 1": { "main": [[{ "node": "Array to Items Flow 1", "type": "main", "index": 0 }]] },
    "Array to Items Flow 1": { "main": [[{ "node": "Update Lead Flow 1", "type": "main", "index": 0 }]] },
    "Fetch Flow 2": { "main": [[{ "node": "Array to Items Flow 2", "type": "main", "index": 0 }]] },
    "Array to Items Flow 2": { "main": [[{ "node": "Send Telegram Flow 2", "type": "main", "index": 0 }]] },
    "Send Telegram Flow 2": { "main": [[{ "node": "Update Lead Flow 2", "type": "main", "index": 0 }]] },
    "Fetch VIP Flow 4": { "main": [[{ "node": "Array to Items Flow 4", "type": "main", "index": 0 }]] },
    "Array to Items Flow 4": { "main": [[{ "node": "Update Lead Flow 4", "type": "main", "index": 0 }]] },
    "Update Lead Flow 4": { "main": [[{ "node": "Alert VIP Flow 4", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {},
  "versionId": "1"
}
