n8n/workflows/reactivacion_winback.json
{
  "name": "reactivacion_winback",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "hours", "hoursInterval": 1 }]
        }
      },
      "id": "sched-hourly",
      "name": "Every Hour",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 320]
    },
    {
      "parameters": {
        "jsCode": "const cutoff = new Date(Date.now() - 14 * 24 * 60 * 60 * 1000).toISOString();\nreturn [{ json: { cutoff } }];"
      },
      "id": "build-cutoff-14d",
      "name": "Build 14d Cutoff",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 320]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.SUPABASE_URL + '/rest/v1/leads'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "visitor_id,utm_source,updated_at,created_at,telegram_user_id,active_flow,pais,ciudad,idioma,dispositivo,mgo_directo,mgo_en_canal,telegram_activo,of_activo,cupidbot_activo,winback_sent" },
            { "name": "telegram_activo", "value": "is.true" },
            { "name": "of_activo", "value": "is.false" },
            { "name": "mgo_directo", "value": "is.false" },
            { "name": "mgo_en_canal", "value": "is.false" },
            { "name": "winback_sent", "value": "is.false" },
            { "name": "active_flow", "value": "is.null" },
            { "name": "updated_at", "value": "={{'lt.' + $json.cutoff}}" },
            { "name": "telegram_user_id", "value": "not.is.null" }
          ]
        },
        "options": { "response": { "response": { "responseFormat": "json" } } }
      },
      "id": "fetch-social",
      "name": "Fetch Winback Flow 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 180],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst arr = Array.isArray(input) ? input\n  : Array.isArray(input?.body) ? input.body\n  : input && typeof input === 'object' ? [input]\n  : [];\nreturn arr.map(item => ({ json: item }));"
      },
      "id": "split-social",
      "name": "Array to Items Social",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 180]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.SUPABASE_URL + '/rest/v1/leads?visitor_id=eq.' + encodeURIComponent($json.visitor_id) + '&active_flow=is.null'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { winback_sent: true, active_flow: '3', last_bot_action: new Date().toISOString() } }}"
      },
      "id": "update-social",
      "name": "Mark Winback Flow 3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1150, 180],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.CUPIDBOT_WEBHOOK_URL}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  action: 'winback_seduccion',\n  flow: '3',\n  bot_type: 'cupidbot',\n  context: 'winback_social_14d',\n  lead: {\n    visitor_id: $json.visitor_id,\n    telegram_user_id: $json.telegram_user_id,\n    utm_source: $json.utm_source,\n    pais: $json.pais,\n    ciudad: $json.ciudad,\n    idioma: $json.idioma,\n    dispositivo: $json.dispositivo,\n    mgo_directo: $json.mgo_directo,\n    mgo_en_canal: $json.mgo_en_canal,\n    telegram_activo: $json.telegram_activo,\n    of_activo: $json.of_activo,\n    created_at: $json.created_at,\n    updated_at: $json.updated_at\n  },\n  triggered_at: new Date().toISOString()\n} }}"
      },
      "id": "webhook-social",
      "name": "Webhook CupidBot Winback F3",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1380, 180],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{$env.SUPABASE_URL + '/rest/v1/leads'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "select", "value": "visitor_id,utm_source,updated_at,created_at,telegram_user_id,active_flow,pais,ciudad,idioma,dispositivo,mgo_directo,mgo_en_canal,telegram_activo,of_activo,cupidbot_activo,winback_sent" },
            { "name": "of_activo", "value": "is.false" },
            { "name": "winback_sent", "value": "is.false" },
            { "name": "active_flow", "value": "is.null" },
            { "name": "updated_at", "value": "={{'lt.' + $json.cutoff}}" },
            { "name": "telegram_user_id", "value": "not.is.null" },
            { "name": "or", "value": "(mgo_directo.is.true,mgo_en_canal.is.true)" }
          ]
        },
        "options": { "response": { "response": { "responseFormat": "json" } } }
      },
      "id": "fetch-mgo",
      "name": "Fetch Winback Flow 5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [690, 470],
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst arr = Array.isArray(input) ? input\n  : Array.isArray(input?.body) ? input.body\n  : input && typeof input === 'object' ? [input]\n  : [];\nreturn arr.map(item => ({ json: item }));"
      },
      "id": "split-mgo",
      "name": "Array to Items MGO",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [920, 470]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{$env.SUPABASE_URL + '/rest/v1/leads?visitor_id=eq.' + encodeURIComponent($json.visitor_id) + '&active_flow=is.null'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Prefer", "value": "return=minimal" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { winback_sent: true, active_flow: '5', last_bot_action: new Date().toISOString() } }}"
      },
      "id": "update-mgo",
      "name": "Mark Winback Flow 5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1150, 470],
      "continueOnFail": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{$env.CUPIDBOT_WEBHOOK_URL}}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ {\n  action: 'winback_con_historial',\n  flow: '5',\n  bot_type: 'cupidbot',\n  context: 'winback_mgo_14d',\n  instructions: 'Inyectar historial de compras MGO en el prompt. El usuario conoce la modelo desde MGO.',\n  lead: {\n    visitor_id: $json.visitor_id,\n    telegram_user_id: $json.telegram_user_id,\n    utm_source: $json.utm_source,\n    pais: $json.pais,\n    ciudad: $json.ciudad,\n    idioma: $json.idioma,\n    dispositivo: $json.dispositivo,\n    mgo_directo: $json.mgo_directo,\n    mgo_en_canal: $json.mgo_en_canal,\n    telegram_activo: $json.telegram_activo,\n    of_activo: $json.of_activo,\n    created_at: $json.created_at,\n    updated_at: $json.updated_at\n  },\n  triggered_at: new Date().toISOString()\n} }}"
      },
      "id": "webhook-mgo",
      "name": "Webhook CupidBot Winback F5",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1380, 470],
      "continueOnFail": true
    }
  ],
  "connections": {
    "Every Hour": { "main": [[{ "node": "Build 14d Cutoff", "type": "main", "index": 0 }]] },
    "Build 14d Cutoff": { "main": [[
      { "node": "Fetch Winback Flow 3", "type": "main", "index": 0 },
      { "node": "Fetch Winback Flow 5", "type": "main", "index": 0 }
    ]] },
    "Fetch Winback Flow 3": { "main": [[{ "node": "Array to Items Social", "type": "main", "index": 0 }]] },
    "Array to Items Social": { "main": [[{ "node": "Mark Winback Flow 3", "type": "main", "index": 0 }]] },
    "Mark Winback Flow 3": { "main": [[{ "node": "Webhook CupidBot Winback F3", "type": "main", "index": 0 }]] },
    "Fetch Winback Flow 5": { "main": [[{ "node": "Array to Items MGO", "type": "main", "index": 0 }]] },
    "Array to Items MGO": { "main": [[{ "node": "Mark Winback Flow 5", "type": "main", "index": 0 }]] },
    "Mark Winback Flow 5": { "main": [[{ "node": "Webhook CupidBot Winback F5", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {},
  "versionId": "3"
}
